@import "utils.css";

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

nav {
  padding: 2.25rem 3.5rem;
}

.logo {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  height: 12rem;
  width: 16rem;
  background-image: url("./images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  transition: all ease-in-out 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}

.button-primary {
  margin-right: 0.5rem;
}

.button-primary::before {
  background: var(--black);
}

.button-secondary::before {
  background: var(--black);
}

.button-primary:hover {
  /* background-color: var(--black); */
  color: var(--background-color);
}

.button-secondary:hover {
  color: var(--background-color);
}

.button:hover::before {
  width: 100%;
}

nav .left a {
  padding: var(--link-padding);
  margin: 0px var(--link-margin);
  font-family: var(--font-normal);
  font-weight: 550;
  color: var(--black);
}

nav .right {
  justify-content: space-around;
}

.hero {
  margin-top: 7em;
}

.hero h1 {
  color: var(--black);
  font-family: var(--font-title);
  font-size: 2.75rem;
  font-weight: bold;
  word-spacing: 5px;
}

.hero p {
  font-family: var(--font-normal);
  font-size: 1.1rem;
  padding: 0 8rem;
  text-align: center;
  margin-top: 1rem;
}

.hero-buttons button {
  margin: 2rem 0.5rem;
}

.testimonials {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.testimonials > h1 {
  font-family: var(--font-title);
  font-weight: 550;
  line-height: 1.5;
  font-size: 2rem;
}

.testimonials p {
  font-family: var(--font-normal);
  width: 42rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1ft 1ft;
  margin-top: 1rem;
  gap: 2rem 2rem;
}

.testimonial {
  background-color: var(--brown);
  border-radius: 0.7rem;
  padding: 1.5rem 2rem 0rem 2rem;
}

.profilepic {
  background-image: url("./images/avatar.png");
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.testimonial .bottom {
  text-align: start;
  width: 35rem;
}

.info {
  margin-left: 1rem;
}

.info h2,
.info h3 {
  font-family: var(--font-normal);
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.info h2 {
  font-weight: 700;
}

footer {
  padding: 1.5rem 10rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer h1 {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-normal);
  margin-bottom: 1rem;
}

.social-icon {
  height: 1.75rem;
  width: 1.75rem;
}

.social-link svg {
  margin-right: 0.75rem;
}

.social-link span,
footer .left a {
  font-family: var(--font-normal);
  padding: 1rem 0;
  cursor: pointer;
}

footer .left p {
  font-family: var(--font-normal);
  font-size: 0.4rem;
  font-weight: bold;
}

footer .center .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px;
  margin-top: 2rem;
  width: 100%;
}

footer .center .bottom p {
  font-family: var(--font-normal);
  color: var(--green);
  font-size: 0.75rem;
}

footer .center .bottom p:last-of-type {
  text-align: right;
}
