@import "utils.css";

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  overflow-x: hidden;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

nav {
  padding: 2.25rem 3.5rem;
}

.logo {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  height: 12rem;
  width: 16rem;
  background-image: url("./images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  transition: all ease-in-out 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}

.button-primary {
  margin-right: 0.5rem;
}

.button-primary::before {
  background: var(--black);
}

.button-secondary::before {
  background: var(--black);
}

.button-primary:hover {
  /* background-color: var(--black); */
  color: var(--background-color);
}

.button-secondary:hover {
  color: var(--background-color);
}

.button:hover::before {
  width: 100%;
}

nav .left a {
  padding: var(--link-padding);
  margin: 0px var(--link-margin);
  font-family: var(--font-normal);
  font-weight: 550;
  color: var(--black);
}

nav .right {
  justify-content: space-around;
}

.hero {
  justify-content: center;
  margin-top: 6em;
  background-image: url("./images/sean-benesh-qA02F8NIk5U-unsplash\(2\).jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 5rem;
  height: 40rem;
  width: 100%;
  position: relative;
}

.hero h1 {
  /* text-shadow: 1px 2px 1px var(--black), 1px 2px 1px var(--black),
    1px 2px 1px var(--black), 1px 2px 1px var(--black); */
  color: var(--background-color);
  font-family: var(--font-title);
  font-size: 2.75rem;
  font-weight: bold;
  word-spacing: 5px;
  z-index: 2;
}

.hero p,
.hero-courses p {
  font-family: var(--font-normal);
  font-size: 1.2rem;
  font-weight: 550;
  padding: 0 13rem;
  text-align: center;
  margin-top: 1rem;
  background: linear-gradient(
    90deg,
    var(--dark-brown),
    var(--background-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity */
  z-index: 1;
}

.hero-buttons button {
  margin: 2rem 0.5rem 0rem 0.5rem;
}

.testimonials {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.testimonials > h1 {
  font-family: var(--font-title);
  font-weight: 550;
  line-height: 1.5;
  font-size: 2rem;
}

.testimonials p {
  font-family: var(--font-normal);
  width: 42rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
  gap: 2rem 2rem;
  padding: 0rem 2rem;
  width: 100%;
}

.testimonial {
  border-radius: 0.7rem;
  padding: 1.5rem 2rem 0rem 2rem;
  transition: all 0.4s ease;
  position: relative;
  height: 12rem;
}

.testimonial .front {
  z-index: 10;
  position: absolute;
  top: 0%;
  padding: 2rem;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  background-color: var(--green);
  color: var(--background-color);
  transition: all 0.4s ease;
}

.testimonial:hover .back {
  transform: rotate(4deg);
}

.testimonial:hover .front {
  transform: rotate(-4deg);
  background-color: var(--dark-brown);
  color: var(--background-color);
}

.testimonial:hover .front h2 {
  color: var(--background-color);
}

.testimonial:hover .front h3 {
  color: var(--background-color);
}

.testimonial .back {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--brown);
  border-radius: 0.7rem;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.profilepic {
  background-image: url("./images/avatar.png");
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.testimonial .bottom {
  text-align: start;
  width: 35rem;
}

.info {
  margin-left: 1rem;
}

.info h2,
.info h3 {
  font-family: var(--font-normal);
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.info h2 {
  font-weight: 700;
}

footer {
  padding: 1.5rem 10rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer h1 {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-normal);
  margin-bottom: 1rem;
}

.social-icon {
  height: 1.75rem;
  width: 1.75rem;
}

.social-link svg {
  margin-right: 0.75rem;
}

.social-link span,
footer .left a {
  font-family: var(--font-normal);
  padding: 1rem 0;
  cursor: pointer;
}

footer .left p {
  font-family: var(--font-normal);
  font-size: 0.4rem;
  font-weight: bold;
}

footer .center .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px;
  margin-top: 2rem;
  width: 100%;
}

footer .center .bottom p {
  font-family: var(--font-normal);
  color: var(--green);
  font-size: 0.75rem;
}

footer .center .bottom p:last-of-type {
  text-align: right;
}

/* -------------- Hover Card - Home Page ------------- */
.hover-card {
  width: 100%;
  height: 25rem;
  position: relative;
}

.hover-card .card-end {
  background-color: var(--dark-brown);
  position: absolute;
  top: 8%;
  right: 6%;
  left: 6%;
  z-index: 2;
  height: 18.5rem;
  border-radius: 0.9rem;
  transform: rotate(1.2deg);
  transition: all 0.4s ease;
}

.hover-card .card-middle {
  background-color: var(--background-color);
  position: absolute;
  top: 6%;
  right: 6%;
  left: 6%;
  transform: rotate(-1.5deg);
  z-index: 3;
  height: 20rem;
  border-radius: 0.9rem;
  transition: all 0.4s ease;
}

.hover-card .card-front {
  padding: 0 4rem;
  justify-content: space-between;
  background-color: var(--brown);
  position: absolute;
  top: 6%;
  right: 6%;
  left: 6%;
  transform: rotate(-1.5deg);
  z-index: 4;
  height: 20rem;
  border-radius: 0.9rem;
  transition: all 0.4s ease;
}

.hover-card .card-front .left {
  justify-content: space-between;
  height: 5rem;
  align-items: start;
}

.hover-card .card-front .left h1 {
  font-size: 2rem;
  font-family: var(--font-title);
}

.hover-card .card-front .left p {
  font-size: 1.1rem;
  font-family: var(--font-normal);
}

.hover-card .card-front:hover {
  transform: scale(1.1) rotate(1deg) translateY(1rem);
  color: white;
  background-color: var(--green);
}

.hover-card .card-front:hover button {
  background-color: var(--background-color);
  color: var(--green);
}

.hover-card .card-front:hover ~ .card-middle {
  transform: scale(1.1) rotate(-2deg) translateY(1rem);
  background-color: var(--brown);
}

.hover-card .card-front:hover ~ .card-end {
  transform: scale(1.1) rotate(3deg) translateY(1rem);
  background-color: var(--dark-brown);
}

/* -------------- Splash Screen - Landing Page ------------- */

.intro {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: transform 1s ease;
}

.intro-logo {
  position: relative;
  display: inline-block;
  bottom: -4.5rem;
  opacity: 1;
  font-size: 1rem;
  font-family: Noto Sans;
}

.intro-logo.active {
  bottom: -3rem;
  opacity: 1;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.intro-logo.fade {
  bottom: -4rem;
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.intro img {
  position: absolute;
  margin-left: -5rem;
  margin-top: 0.5rem;
  height: 6.25rem;
  width: 4.375rem;
}

/* -------------- Contact Page ------------- */

.social {
  display: flex;
  align-items: center;
  margin: 0.625rem 0;
}

.social-icon {
  width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--black);
  margin-right: 0.5rem;
}

.container {
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 5%;
}

.container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 68.75rem;
  padding: 0.2rem;
}

.row section.col {
  display: flex;
  flex-direction: column;
}

.row section.left {
  flex-basis: 35%;
  min-width: 20rem;
  margin-right: 1rem;
}

.row section.right {
  flex-basis: 60%;
}

section.left .ContactTitle h2 {
  position: relative;
  font-size: 1.75rem;
  font-family: var(--font-title);
  color: var(--green);
  display: inline-block;
  margin-bottom: 1.5625rem;
}

section.left .ContactTitle p {
  font-family: var(--font-normal);
}

section.left .ContactTitle h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 0.0625rem;
  background-color: greenyellow;
  top: 100%;
  left: 0%;
}

section.left .ContactTitle h2::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 0.1875rem;
  background-color: var(--green);
  top: calc(95% + 0.04rem);
  left: 0;
}

section.left .contactInfo {
  margin-top: 1.5rem;
}

.contactInfo .GroupIcon {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.contactInfo .icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--green);
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.GroupIcon .icon i {
  font-size: 1rem;
  color: var(--green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GroupIcon .details span {
  display: block;
  font-size: 0.95rem;
  font-family: var(--font-normal);
  padding: 0.07rem;
  color: var(--black);
}

.GroupIcon .details span:nth-child(1) {
  text-transform: uppercase;
  color: var(--black);
}

/* ---------- Form ---------- */

.row section.right .messaageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.row section.right .inputGroup {
  margin: 1.125rem 0rem;
  position: relative;
}

.messaageForm .halfWidth {
  flex-basis: 48%;
}

.messaageForm .fullWidth {
  flex-basis: 100%;
}

.messaageForm input {
  width: 100%;
  font-family: 1.125rem;
  padding: 0.125rem 0rem;
  background-color: var(--background-color);
  border: none;
  border-bottom: 2px solid var(--green);
  outline: none;
}

.messaageForm textarea {
  height: 1.5rem;
  background: transparent;
  width: 100%;
  font-family: var(--font-normal);
  color: var(--green);
}

.messaageForm textarea {
  resize: none;
  height: 7.25rem;
  display: block;
  text-align: justify;
  border: 2px solid var(--green);
  border-radius: 4px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.messaageForm textarea:focus {
  outline: none;
  padding: 0.5rem;
  border-radius: 0.75rem;
  /* border-width: 4px; */
}

textarea::-webkit-scrollbar {
  width: 0.322rem;
}

textarea::-webkit-scrollbar-track {
  background-color: #dedede;
  border-radius: 0.9375rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

.inputGroup label {
  position: absolute;
  left: 0;
  font-family: var(--font-normal);
  bottom: 0.35rem;
  color: var(--green);
  font-size: 1rem;
  transition: 0.4s;
  pointer-events: none;
}

.inputGroup:nth-child(4) label {
  top: 0.145rem;
}

.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:focus ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-1.575rem);
  font-size: 0.9rem;
}

.inputGroup input {
  font-family: var(--font-normal);
}

.inputGroup button {
  padding: 0.9rem 1.5rem;
  font-size: 0.9rem;
  background-color: var(--green);
  border-radius: 1.5625rem;
  box-shadow: 0px 3px 7px var(--black);
  transition: 0.4s;
  color: var(--background-color);
}

/* ------------------ Courses Page ------------------------ */

.hero-courses {
  justify-content: center;
  margin-top: 6em;
  background-image: url("./images/certificates.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 5rem;
  height: 40rem;
  width: 100%;
  position: relative;
}

.hero-courses::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
  z-index: 1;
}

.hero-courses h1 {
  color: burlywood;
  font-family: var(--font-title);
  font-size: 2.75rem;
  padding: 0 20rem;
  font-weight: bold;
  word-spacing: 5px;
  z-index: 2;
  text-align: center;
}

.introduction {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.introduction > h1 {
  font-family: var(--font-title);
  font-weight: 550;
  line-height: 1.5;
  font-size: 2rem;
}

.introduction p {
  font-family: var(--font-normal);
  width: 40rem;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

/* --------------- 3 kinds of courses section ------------------ */

.courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  color: #620943;
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section h1 {
  font-size: 40px;
  font-weight: 100;
  position: relative;
}
@media (min-width: 1024px) {
  .section h1 {
    font-size: 70px;
  }
}

.section span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 1024px) {
  .section span {
    width: fit-content;
    position: absolute;
    right: -120px;
    bottom: -26px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .courses-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.section h3 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 100px;
}

.text {
  width: 100%;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .text {
    height: 300px;
    top: 30%;
    position: sticky;
    width: 45%;
  }
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0;
}
@media (min-width: 1024px) {
  .cards {
    width: 45%;
  }
}

.card {
  position: sticky;
  top: 20%;
  right: 400px;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #fff;
}

.card span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8c989;
  font-size: 40px;
  font-family: var(--font-normal);
  color: #fff;
  text-align: center;
}
