@import "utils.css";

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--black);
}

nav {
  padding: 2.25rem 3.5rem;
}

.logo {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  height: 12rem;
  width: 16rem;
  background-image: url("./images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

nav .left a {
  padding: var(--link-padding);
  margin: 0px var(--link-margin);
  font-family: var(--font-normal);
  font-weight: 550;
  color: var(--black);
}

nav .right {
  justify-content: space-around;
  width: 25%;
}

.hero {
  margin-top: 7em;
}

.hero h1 {
  color: var(--black);
  font-family: var(--font-title);
  font-size: 2.75rem;
  font-weight: bold;
  word-spacing: 5px;
}

.hero p {
  font-family: var(--font-normal);
  font-size: 1.1rem;
  padding: 0 8rem;
  text-align: center;
  margin-top: 1rem;
}

.hero-buttons button {
  margin: 2rem 0.5rem;
}

footer {
  padding: 1.5rem 10rem;
  padding-bottom: 0;
}

footer h1 {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-normal);
  margin-bottom: 1rem;
}

.social-icon {
  height: 1.75rem;
  width: 1.75rem;
}

.social-link svg {
  margin-right: 0.75rem;
}

.social-link span,
footer .left a {
  font-family: var(--font-normal);
  padding: 1rem 0;
}

/* -------------- Splash Scrren - Landing Page ------------- */

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 2s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  transition: transform 1s ease;
}

.intro-logo {
  position: relative;
  display: inline-block;
  bottom: -4.5rem;
  opacity: 1;
  font-size: 1.125rem; 
}

.intro-logo.active {
  bottom: -2rem;
  opacity: 1;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.intro-logo.fade {
  bottom: -3rem; 
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.intro img {
  position: absolute;
  margin-left: -5rem;
  margin-top: 0.5rem;
  height: 6.25rem;
  width: 4.375rem;
}

/* -------------- Contact Page ------------- */

.social {
  display: flex;
  align-items: center;
  margin: 0.625rem 0; 
}

.social-icon {
  width: 1.5rem; 
  height: 1.5rem;
  fill: #060101; 
  margin-right: 0.5rem; 
}

